*.pyc
.idea/
.env
.bash_history
.cache/
.ipython/
.coverage*
!.coveragerc
.local/
.mypy_cache/
.pytest_cache/
.python_history
htmlcov/
*.ipynb
.DS_Store
_*/
.vscode
env
venv
.env.local
.env.*.local

.DS_Store
*node_modules*
frontend/*node_modules*
/dist


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
